.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;

  &__button {
    width: 12px;
    height: 12px;
    background-color: #747272;
    border-radius: 50%;
    padding: 0;

    &--active {
      background-color: var(--color-brend);
    }
  }
}
