.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
  overflow-y: auto;

  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 40px;

  background-color: var(--color-brend-light);
  transform: translateX(100%);
  transition: transform 0.3s ease;

  &.is-open {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
  }
  &__btn-close {
    position: absolute;
    top: 22px;
    right: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    fill: transparent;
    stroke: var(--color-brend-dark);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__logo {
    margin-bottom: 32px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__link {
    color: var(--color-brend-dark);
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;

    &:hover {
      color: var(--color-brend);
    }
  }
}
@media screen and (min-width: $bp-desktop) {
  .mobile-menu {
    display: none;
  }
}
